<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.programmer.escrow.loginlog.mapper.LoginLogMapper">

    <insert id="insert" parameterType="com.programmer.escrow.loginlog.entity.LoginLogEntity" useGeneratedKeys="true" keyProperty="id">
        insert into login_log (
            user_id, ip, login_time, login_type
        ) values (
            #{userId}, #{ip}, #{loginTime}, #{loginType}
        )
    </insert>
</mapper>
